<section class="pagination">
  <% if(currentPage != 1 && prevPage != 1) { %>
  <a href="/?page=1">first</a>
  <% } %> <% if(hasPrevPage){ %>
  <a href="/?page=<%= prevPage %>">prev</a>
  <% } %>
  <a class="active" href="/?page=<%= currentPage %>">current</a>
  <% if (hasNextPage) { %>
  <a href="/?page=<%= nextPage %>">next</a>
  <% }%> <% if (lastPage !== currentPage && nextPage !== lastPage){ %>
  <a href="/?page=<%= lastPage %>">last</a>
  <% }%>
</section>
